body {
    background-image: url(../Bilder/BackRubber.jpg);
    background-attachment: fixed;
}

.screen{
    display:flex;
    justify-content:center;
    align-items:flex-end;
}


.forum {
	max-width: 500px;
	width: 100%;
	min-height: 500px;
    padding: 15px 20px;
    background-color: #e6fa34e5;
	border-radius: 5px;
	box-shadow: 2px 2px 8px #44433b;
	display: flex;
	flex-direction: column;
	align-items: stretch;
    justify-content: center;
    margin-right: 150px;
 
}
.forum-title{
    font-family: 'Sacramento', cursive;
}

.forum-info{
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 20px;
}

.label {
	font-size: 12px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	background-color: rgb(6, 155, 255);
	padding: 4px 7px;
	color: white;
	box-shadow: 0 1px 2px #000000;
}

.input-field {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	min-height: 32px;
	margin-bottom: 10px;
	background-color: rgb(250, 150, 35);
	padding: 4px 7px;
	box-shadow: 0 1px 2px #000000;
}

.select{
	font-size: 12px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	background-color: rgb(6, 155, 255);
	padding: 4px 7px;
	color: white;
	box-shadow: 0 1px 2px #000000;
}


.button {
	font-size: 12px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	background-color:rgb(250, 150, 35) ;
	padding: 4px 7px;
	color: white;
	margin-top: 10px;
	box-shadow: 0 1px 2px #000000;
	border-radius: 10px;
	cursor:wait;

}

.button:hover {
	background-color:rgb(6, 155, 255)  ;
}

.checkbox:hover{
cursor:grab;
}
